.searchContainer {
  margin: 0 2rem;
}
.searchBox {
  width: 15vw;
  height: 35px;
  position: relative;
  border: 3px solid white;
  border-radius: 13px;
  background-color: rgba(white, white, white, 0.25);
}
.searchInput {
  border-radius: 13px;
  width: 75%;
  height: 35px;
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: transparent;
}
.boton {
  width: 20%;
  height: 100%;
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  border-radius: 13px;
  cursor: pointer;
  background-color: transparent;
}
